<p style="color: green"><%= notice %></p>

<h1>Toys</h1>

<div id="toys">
  
  <div class="container px-4 text-center" >
      <div class="row gx-5" >
        <% @toys.each do |toy| %>
          <div class="col" >
            <strong><%= link_to toy.title.capitalize, toy, class: "nav-link" %></strong>
            <% if toy.image.attached? %>
              <%= link_to image_tag(toy.image.variant(:thumb), class: "image-rounded"), toy%>
            <% end %>
             
          </div>
        <% end %>
      </div>
  </div>
  


</div>


<%= link_to "New toy", new_toy_path %>
